.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin:40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color:white ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.logo{
    border-radius: 50%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color:#088178;
}
#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*Homepage*/
#hero{
    background-image: url(Images/cheesecake.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 25%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    #hero h2{
        color: #120aaf;
    }

#hero button{
    background-image: url(Images/button3.jpg);
    background-color: transparent;
    color: burlywood;
    border-radius: 30px;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  
}

.fe-box{
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
    font-weight: 700;
    font-size: medium;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fe-box:nth-child(2) h6{
    background-color: rgb(255, 89, 0);
}
.fe-box:nth-child(3) h6{
    background-color:rgb(0, 195, 255);
}
.fe-box:nth-child(4) h6{
    background-color: rgb(255, 187, 0);
}
.fe-box:nth-child(5) h6{
    background-color:rgba(165, 93, 42, 0.887);
}
#product1{
    text-align: center;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    transform: scale(1.1);
}
.pro img{
    width: 100%;
    border-radius: 20px;
    transition: 0,5s;
}
.des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des h5{
padding-top: 7px;
color: #1a1a1a;
font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/b3.jpg);
    width:100%;
    height:40vh;
    background-size: cover;
    background-position: center;
}
#banner h2{
    color:white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}
#banner button:hover{
    background:pink;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer.logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 15px;
    margin:0 0 8px 0;
}
footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer a:hover{
    color: #088178;
}
.copyright{
    text-align: center;
    width: 100%;
}
#page-header{
    background-image: url(Images/S1.webp) ;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    
}
.shop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.custom-form {
    display: inline-block;
    width:100%;
    height: 90vh;
    justify-content:space-between;
    background-image: url(Images/fm2.avif); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the form */
    background-position: center; /* Centers the image */
    padding: 20px;
    border-radius: 10px;
    color: black; /* Ensures text is visible on the image */
    
}
.custom-form h2{
    text-align: center;
    font-size: 40px;
    
}
.custom-form label{
    font-size: 25px;
    font-weight: 600;
    padding: 40px;
}
.c-order{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color:black ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    font-style: italic;
    justify-content: center;
    text-align: center;
    margin-left:40%;
    margin-right: 20%;
    margin-top: 40px;
}
.c-order:hover{
    background: #b52e6c;
}
#cake-size{
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    font-style: bold;
}

#cake-icing{
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    font-style: bold;
}

#cake-flavor{
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    font-style: bold;
}
.toppings{
    padding:20px;
    width: 70%;
    justify-content: center;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 0;
    border-radius: 10px;
    border-style:dashed;
}
.spec{
    margin-top: 25px;
    width: 15%;
    border-radius: 10px;
}
#about-header{
    background-image: url(Images/abt1.avif);
    background-size: cover;
    text-align: center;
    justify-content: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#about-head div{
    padding-left: 40px;
    
}
.carousel-container{
    width: 250%;
    margin: auto;
    border: none;
    overflow: hidden;
    position: relative;
}
.carousel-slide{
    display: flex;
    width: 200%;
    height: 250px;
    background-size: cover;
}
#prevBtn{
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    font-size: 30px;
    cursor: pointer;
    color: white;

}
#prevBtn{
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    font-size: 30px;
    cursor: pointer;
    color: white;

}
#nextBtn{
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 10;
    font-size: 30px;
    cursor: pointer;
    color: white;

}
#contact {
    background-image: url(Images/abt1.avif);
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: auto;
        
}
   
#contact-details{
    display: flex;
    align-items: center;
}
#contact-details .details{
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contact-details .details span{
    font-size: 16px;
    padding-bottom: 10px;
    color: #2b3cf4;
}
#contact-details .details h4{
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0;
}
#contact-details .details input,
#contact-details .details textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e3e6f3;
}
#contact-details .details button {
    background-color: #28a5f7;
    color: #e3e6f3;
}
#contact-details .info {
    width: 50%;
    height: auto;
    margin-left: 70px;
    background-color: #d2d1d4;
}
#contact-details .info li{
    list-style: none;
    display: flex;
    align-items: center;

}
#contact-details .info li i{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
#cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}
#cart-icon a{
    color: black;
}
#cart-icon #cart-count {
    position: absolute;
    background-color: #e35f26;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    top: 0; /* Adjust position */
    right: -6px; /* Adjust position */
    display: flex; /* Hide when empty */
    
}
.cart2{
    width: 360px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    z-index: 100;
    overflow: auto;
    padding: 65px 20px 40px;
    transition: 0.5s;
}
.cart2.active{
    right: 0;
}
.cart-title{
    align-items: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;

}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background-color: darkorange;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;

}
#cart-close{
    position: absolute;
    top: 150px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;

}
